body {
    background: rgb(204,4,135);
    background: radial-gradient(circle, rgba(204,4,135,1) 0%, rgba(0,0,0,1) 100%);
    font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold!important;
    font-size: 3rem!important;
}

.btn {
    border-radius: 50px !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px!important;
    font-weight: 500!important;
    -webkit-box-shadow: 0px 9px 13px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 13px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 13px 4px rgba(0,0,0,0.75);
}

.bnt:hover {
    font-weight: bold!important;
}

.maze-container {
    background: #FFC107;
    margin: auto;
    border-radius: 15px;
    width: 100%;
    height: 34rem;
    padding-left: 3%!important;
    padding-right: 1%!important;
    padding-top: 15px!important;
    padding-bottom: 1rem!important;
    -webkit-box-shadow: 0px 9px 13px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 13px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 13px 4px rgba(0,0,0,0.75);
}

.grid {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* border: 9px solid forestgreen; */
}

.cell {
    background-color: #fbe287;

}
.grid div {
    float: left;
}

.grid div:hover {
    background-color: #28a745;
    cursor: pointer;
}

.currentCell {
    background-color: #960464!important;
}

.visited {
    background-color: #ffffff;
}

.bt {
    border-top: 1px solid #6b6b6b;
}

.br {
    border-right: 1px solid #6b6b6b;
}

.bb {
    border-bottom: 1px solid #6b6b6b;
}

.bl {
    border-left: 1px solid #6b6b6b;
}

ul.social-buttons {
	margin-bottom: 0;
}

ul.social-buttons li a {
	font-size: 20px;
	line-height: 40px;
	display: block;
	width: 40px;
	height: 40px;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
	background-color: #212529;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
	background-color: #ffffff;
	color: #212529;
}


.subtitle {
	max-height: 39px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}

#buildButton {
    margin-top: 5rem;
}

@media (max-width: 600px) {
    #title {
        margin-bottom: 15px!important;
    }
    #buildButton {
        margin-top: 0rem!important;
    }
}
